[Desktop Entry]
Encoding=UTF-8
Name=Haskell plataforma -- httpswww.haskell.orgplatform Orria
Type=Link
URL=https://www.haskell.org/platform
Icon=text-html
Name[en_US]=Haskell plataforma -- httpswww.haskell.orgplatform Orria
