[Desktop Entry]
Encoding=UTF-8
Name=Haskell ikastaroa ingelesez -- Learn You a Haskell for Great Good! -- httplearnyouahaskell.comchapters Orria
Type=Link
URL=http://learnyouahaskell.com/chapters
Icon=text-html
Name[en_US]=Haskell ikastaroa ingelesez -- Learn You a Haskell for Great Good! -- httplearnyouahaskell.comchapters Orria
