[Desktop Entry]
Encoding=UTF-8
Name=Haskell ikastaroa gaztelaniaz -- ¡Aprende Haskell por el bien de todos! -- httpaprendehaskell.es Orria
Type=Link
URL=http://aprendehaskell.es
Icon=text-html
Name[en_US]=Haskell ikastaroa gaztelaniaz -- ¡Aprende Haskell por el bien de todos! -- httpaprendehaskell.es Orria
