[Desktop Entry]
Encoding=UTF-8
Name=Web orri ofiziala -- httpswiki.haskell.orgHaskell Orria
Type=Link
URL=https://wiki.haskell.org/Haskell
Icon=text-html
Name[en_US]=Web orri ofiziala -- httpswiki.haskell.orgHaskell Orria
