[Desktop Entry]
Encoding=UTF-8
Name=Dana Angluin (Yale University)
Type=Link
URL=https://cpsc.yale.edu/people/dana-angluin
Icon=text-html
Name[en_US]=Dana Angluin (Yale University)
