[Desktop Entry]
Encoding=UTF-8
Name=Elhuyar - Zientzia eta Teknologiaren  hiztegi entziklopedikoa
Type=Link
URL=http://zthiztegia.elhuyar.eus/
Icon=text-html
Name[en_US]=Elhuyar - Zientzia eta Teknologiaren  hiztegi entziklopedikoa
