[Desktop Entry]
Encoding=UTF-8
Name=LUR hiztegi entziklopedikoa
Type=Link
URL=http://www.euskara.euskadi.eus/r59-lursresd/eu?r01kQry=tC:euskadi;tF:diccionario_enciclopedia;tT:termino;m:documentLanguage.EQ.eu;m:documentName.BEGINNING.adimen
Icon=text-html
Name[en_US]=LUR hiztegi entziklopedikoa
