[Desktop Entry]
Encoding=UTF-8
Name=Queries and Concept Learning (Cited by 2316)
Type=Link
URL=https://scholar.google.com/citations?user=bxi6JXYAAAAJ&hl=en#d=gs_md_cita-d&u=%2Fcitations%3Fview_op%3Dview_citation%26hl%3Den%26user%3Dbxi6JXYAAAAJ%26citation_for_view%3Dbxi6JXYAAAAJ%3Au5HHmVD_uO8C%26tzom%3D-120
Icon=text-html
Name[en_US]=Queries and Concept Learning (Cited by 2316)
