[Desktop Entry]
Encoding=UTF-8
Name=Queries and Concept Learning (Article)
Type=Link
URL=https://link.springer.com/article/10.1023/A:1022821128753
Icon=text-html
Name[en_US]=Queries and Concept Learning (Article)
